.app-header {
  align-items: center;
  background: #72dbd2;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  margin-top: 0px;
}

.app-header__logo {
  background:  #72dbd2;
  height: 25px;
  width: 20px;
}

.img {
  width: 30px;
}